@page "/"
@using GameOverBoardGame.Enums;

<h1>GameOver board game</h1>

<div class="board">
    @for (int i = 0; i < 7; i++)
    {
        <div class="column">
            @for (int j = 0; j < 7; j++)
            {
                int x = i;
                int y = j;
                <div class="gamepiece @game.GameBoard.Board[i, j].ToString().ToLower()" @onclick="@(() => OnClick(x, y))">
                </div>
            }
        </div>
    }
</div>

<div class="infoPanel">
    Wybierz liczbę graczy:
    <label><input type="radio" name="playersNumber" checked="@(numbersOfPlayers == 2)" @onchange="@(() => numbersOfPlayers = 2)" />2</label>
    <label><input type="radio" name="playersNumber" checked="@(numbersOfPlayers == 3)" @onchange="@(() => numbersOfPlayers = 3)" />3</label>
    <label><input type="radio" name="playersNumber" checked="@(numbersOfPlayers == 4)" @onchange="@(() => numbersOfPlayers = 4)" />4</label>

    <button @onclick="(() => NewGame())">RESET</button>
    <br />

    Wybierz broń:<br />
    @foreach (var item in Enum.GetNames(typeof(Weapon)))
    {

        <input type="radio" class="input-hidden" id="@item" name="weapon" value="@item" @onclick="(() => RadioButtonClicked(item))">
        <label for="@item">
            <img src="/images/@(item).png" />
        </label>
    }

    <br />
    <p>Wybrana broń: <b>@selectedWeapon</b></p>
    <hr />

    Aktualny gracz: <br />
    <img src="/images/Player@(game.CurrentPlayer.ToString()).png" />

    <hr />

    <div class="alert alert-@nextAction.AlertType" role="alert">
        @nextAction.Information
    </div>
    <div>

        @if (nextAction.NextAction == NextAction.GameOver)
        {
            <div class="alert alert-info" role="alert">
                Naciśnij przycisk 'Następny gracz'
            </div>
            <button @onclick="(() => NextPlayer())">Następny gracz</button>
        }
        else
        {
            <button @onclick="(() => NextPlayer())" disabled>Następny gracz</button>
        }
    </div>
</div>